/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *        IE on Windows Phone and in iOS. */
@import url(fonts.css);
@import url(_variables.css);
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated). */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-. */
article, aside, footer, header, nav, section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE. */
figcaption, figure, main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8. */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-. */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-. */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-. */
audio, video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-. */
img {
  border-style: none; }

/**
 * Hide the overflow in IE. */
svg:not(:root) {
  overflow: hidden; }

/* Forms
 * ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *        controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *        `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE. */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox. */
details, menu {
  display: block; }

/*
 * Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-. */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE. */
template, [hidden] {
  display: none; }

/* Hidden
 * ========================================================================== */
/**
 * Add the correct display in IE 10-. */
/*               GEOMETRIA FONT                 */
/* Thin */
@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-Thin.otf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-ThinItalic.otf");
  font-weight: 100;
  font-style: italic; }

/* Extra light */
@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-ExtraLight.otf");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-ExtraLightItalic.otf");
  font-weight: 200;
  font-style: italic; }

/* Light */
@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-Light.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-LightItalic.otf");
  font-weight: 300;
  font-style: italic; }

/*  Normal   */
@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-Italic.otf");
  font-weight: 400;
  font-style: italic; }

/*  Medium   */
@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-Medium.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-MediumItalic.otf");
  font-weight: 500;
  font-style: italic; }

/*  Bold */
@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-Bold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-BoldItalic.otf");
  font-weight: 700;
  font-style: italic; }

/*  Extra bold   */
@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-ExtaBlack.otf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-ExtraBlackItalic.otf");
  font-weight: 800;
  font-style: italic; }

/*  Heavy  */
@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-Heavy.otf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: Geometria;
  src: url("../../blocks/common/fonts/Geometria/Geometria/Geometria-HeavyItalic.otf");
  font-weight: 900;
  font-style: italic; }

/*       ROBOTO FONT       */
/* Thin */
@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }

/* Extra light */
/* Light */
@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

/*  Normal   */
@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

/*  Medium   */
@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

/*  Bold */
@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

/*  Extra bold   */
@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-Black.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../../blocks/common/fonts/Roboto/Roboto/Roboto-BlackItalic.ttf");
  font-weight: 800;
  font-style: italic; }

/*  Heavy  */
@keyframes example {
  0% {
    top: -2px;
    opacity: 0; }
  50% {
    top: 1px;
    opacity: 1; }
  100% {
    opacity: 0; } }

.icon-exampple {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 160px;
  height: 59px;
  display: block; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%; }

::-webkit-scrollbar {
  width: 3px;
  margin-right: 20px; }

::-webkit-scrollbar:horizontal {
  display: none; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #979797;
  color: #979797;
  border-radius: 10px;
  height: 779px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #ffffff;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }
  p b {
    font-weight: bold; }
  p i {
    font-style: italic; }

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; }
  ul li {
    margin: 0;
    padding: 0; }

ol {
  margin: 0;
  padding: 0; }
  ol li {
    margin: 0;
    padding: 0; }

/**
 * Swiper 4.0.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2017 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 28, 2017
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

html, body {
  margin: 0;
  padding: 0; }

#app {
  position: relative; }

.swiper-container {
  width: 1920px;
  height: 1080px; }

.kb1__section {
  position: relative;
  width: 1920px;
  height: 1080px;
  background-color: #19191c;
  overflow: hidden; }

.kb1__section__popup {
  z-index: 50;
  position: fixed;
  top: -1080px;
  width: 1920px;
  height: 1080px;
  background-color: #19191c;
  -webkit-transition: 1s ease 0s;
  -moz-transition: 1s ease 0s;
  -o-transition: 1s ease 0s;
  transition: 1s ease 0s; }

.kb1__section__first {
  width: 1920px;
  height: 1080px;
  background-color: #000000; }

.kb1__section__header {
  z-index: 55;
  position: relative;
  width: 1920px;
  height: 121px;
  background-color: #19191c; }
  .kb1__section__header .kb1__section__header__text {
    margin: 0;
    padding-left: 58px;
    padding-top: 44px;
    height: 58px;
    float: left;
    font-family: Geometria;
    font-size: 19px;
    line-height: 1.53;
    text-align: left;
    color: #ffffff; }
  .kb1__section__header .kb1__section__header__blocks {
    width: 960px;
    height: 121px;
    float: left; }

.padding20 {
  padding-top: 20.5px; }

.padding25 {
  padding-top: 25px; }

.padding29 {
  padding-top: 29px; }

.padding31 {
  padding-top: 31px; }

.padding46 {
  padding-top: 49px; }

.padding49 {
  padding-top: 49px; }

.padding67 {
  padding-top: 67px; }

.padding79 {
  padding-top: 79px; }

.padding71 {
  padding-top: 73px; }

.padding73 {
  padding-top: 73px; }

.padding89 {
  padding-top: 89px; }

.padding93 {
  padding-top: 93px; }

.padding95 {
  padding-top: 95px; }

.margin4 {
  margin-top: 4px; }

.margin20 {
  margin-top: 20px; }

.margin22 {
  margin-top: 22px; }

.margin26 {
  margin-top: 26px; }

.margin30 {
  margin-top: 30px; }

.margin33 {
  margin-top: 33px; }

.margin38 {
  margin-top: 38px; }

.margin40 {
  margin-top: 40px; }

.margin44 {
  margin-top: 44px; }

.margin48 {
  margin-top: 48px; }

.margin50 {
  margin-top: 52px; }

.margin52 {
  margin-top: 52px; }

.margin53 {
  margin-top: 53px; }

.margin55 {
  margin-top: 55px; }

.margin58 {
  margin-top: 58px; }

.margin60 {
  margin-top: 60px; }

.margin63 {
  margin-top: 63px; }

.margin64 {
  margin-top: 64px; }

.margin85 {
  margin-top: 85px; }

.margin89 {
  margin-top: 89px; }

.margin95 {
  margin-top: 95px; }

.margin98 {
  margin-top: 98px; }

.margin102 {
  margin-top: 102px; }

.margin105 {
  margin-top: 105px; }

.margin250 {
  margin-top: 250px; }

.top25 {
  padding-top: 25px; }

.top31 {
  padding-top: 31px; }

.top70 {
  top: 70px; }

.top78 {
  top: 78px; }

.top80 {
  top: 80px; }

.typo14blue {
  font-family: Geometria;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #0e48f5; }

.typo14Button {
  font-family: Geometria;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #d8d8d8; }

.typo16text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #d8d8d8; }

.typo16photo {
  font-family: Geometria;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #9b9b9b; }

.typo16text2 {
  font-family: Geometria;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: left;
  color: #d2d2d7; }

.typo16text__grey {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  color: #666666; }

.typo16text3 {
  position: relative;
  font-family: Geometria;
  font-size: 16px;
  line-height: 1.69;
  text-align: left;
  color: #9b9b9b; }

.typo16Button {
  font-family: Geometria;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #d8d8d8; }

.typo16text4 {
  font-family: Geometria;
  font-size: 16px;
  line-height: 1.69;
  text-align: left;
  color: #d8d8d8; }

.typo19text {
  font-family: Geometria;
  font-size: 19px;
  line-height: 1.53;
  text-align: left;
  color: #ffffff; }

.typo20legend {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #9b9b9b; }

.typo24text {
  font-family: Geometria;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.42;
  text-align: left;
  color: #ffffff; }

.typo26text {
  font-family: Geometria;
  font-size: 26px;
  font-weight: 200;
  line-height: 1.54;
  text-align: left;
  color: #d8d8d8; }

.typo70text {
  position: relative;
  font-family: Roboto;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: -2px;
  text-align: left;
  color: #ffffff; }

.typo110text {
  font-family: Roboto;
  font-size: 110px;
  font-weight: 100;
  letter-spacing: -2px;
  text-align: left;
  color: #ffffff; }

.typoLang {
  font-family: Geometria;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #ffffff; }

.column {
  position: relative;
  width: 440px;
  height: 100%;
  float: left;
  overflow: hidden; }

.column__big {
  position: relative;
  width: 890px;
  height: 100%;
  float: left;
  overflow: hidden; }

.row447 {
  position: relative;
  height: 447px;
  width: 100%; }

.row223 {
  position: relative;
  height: 223px;
  width: 100%; }

.row111 {
  position: relative;
  height: 111.5px;
  width: 100%; }

.row673 {
  height: 673px;
  width: 100%;
  position: relative; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.kb1__firstpage__Clear {
  width: 1920px;
  height: 409.5px;
  opacity: 0; }

.kb1__firstPageBlocks {
  width: 960px;
  height: 258px;
  float: left; }
  .kb1__firstPageBlocks .kb1__firstpageText {
    margin: 0;
    margin-left: 58px;
    font-family: Geometria;
    font-size: 86px;
    font-weight: 300;
    text-align: left;
    color: white; }

.line {
  position: relative;
  display: block;
  left: -2px;
  width: 30px;
  border-top: 2px solid #ffffff;
  opacity: 0.4; }

.kb1__language__form__main {
  width: 145px;
  height: 28px;
  margin-top: 125px;
  margin-right: 210px;
  float: right; }
  .kb1__language__form__main label[for="ruMain"] {
    padding-right: 91px;
    width: 27px;
    height: 20px;
    float: left; }
  .kb1__language__form__main label[for="enMain"] {
    width: 27px;
    height: 20px;
    float: right; }

.bg__effect {
  position: relative;
  top: 300px;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 0 50px -50px #141417; }

.Oval-2-Copy {
  position: relative;
  width: 383px;
  height: 398px;
  opacity: 0.83;
  box-shadow: inset 0 0 200px 90px #19191c;
  background-image: radial-gradient(circle at 18% 64%, rgba(0, 16, 255, 0.6), rgba(0, 16, 255, 0.2) 49%, rgba(0, 16, 255, 0)); }

.Oval-2-Copy-2 {
  position: relative;
  top: 37px;
  width: 392px;
  height: 207px;
  opacity: 0.5;
  box-shadow: inset 0 0 200px 90px #19191c;
  background-image: radial-gradient(circle at 18% 64%, rgba(0, 16, 255, 0.6), rgba(0, 16, 255, 0.2) 49%, rgba(0, 16, 255, 0)); }

.header__Button {
  width: 121px;
  height: 44px;
  margin-top: 36px;
  border-radius: 22px;
  border: solid 2px #0010ff;
  float: left;
  cursor: pointer;
  -webkit-transition: 5s ease 0s;
  -moz-transition: 5s ease 0s;
  -o-transition: 5s ease 0s;
  transition: 5s ease 0s; }
  .header__Button h1 {
    margin: auto;
    padding-top: 8px;
    width: 89px;
    height: 26px;
    font-family: Geometria;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    color: #d2d2d7; }
  .header__Button:active {
    background-color: #0010ff;
    -webkit-transition: 0s ease-out 0s;
    -moz-transition: 0s ease-out 0s;
    -o-transition: 0s ease-out 0s;
    transition: 0s ease-out 0s; }

.more__info__button {
  position: relative;
  cursor: pointer;
  width: 119px;
  height: 33px;
  border-radius: 22px;
  border: solid 1px #d2d2d7;
  -webkit-transition: 5s ease 0s;
  -moz-transition: 5s ease 0s;
  -o-transition: 5s ease 0s;
  transition: 5s ease 0s; }
  .more__info__button h1 {
    margin: auto;
    width: 89px;
    height: 26px;
    padding-top: 4px;
    font-family: Geometria;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #d2d2d7;
    -webkit-transition: 5s ease 0s;
    -moz-transition: 5s ease 0s;
    -o-transition: 5s ease 0s;
    transition: 5s ease 0s; }
  .more__info__button:active {
    color: #ffffff;
    background-color: #d2d2d7;
    -webkit-transition: 0s ease-out 0s;
    -moz-transition: 0s ease-out 0s;
    -o-transition: 0s ease-out 0s;
    transition: 0s ease-out 0s; }
    .more__info__button:active h1 {
      color: #19191c;
      -webkit-transition: 0s ease-out 0s;
      -moz-transition: 0s ease-out 0s;
      -o-transition: 0s ease-out 0s;
      transition: 0s ease-out 0s; }

.arrow__Button {
  width: 60px;
  height: 60px;
  margin-right: 18px;
  border-radius: 100%;
  border: solid 2px #0010ff;
  float: left;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 5s ease 0s;
  -moz-transition: 5s ease 0s;
  -o-transition: 5s ease 0s;
  transition: 5s ease 0s; }
  .arrow__Button img {
    padding-top: 19px;
    text-align: center;
    vertical-align: middle; }
  .arrow__Button:active {
    background-color: #0010ff;
    -webkit-transition: 0s ease-out 0s;
    -moz-transition: 0s ease-out 0s;
    -o-transition: 0s ease-out 0s;
    transition: 0s ease-out 0s; }

.radio__Button {
  width: 60px;
  height: 60px;
  margin-right: 18px;
  border-radius: 100%;
  border: solid 2px #0010ff;
  float: left;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 5s ease 0s;
  -moz-transition: 5s ease 0s;
  -o-transition: 5s ease 0s;
  transition: 5s ease 0s; }
  .radio__Button img {
    padding-top: 17px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 1px; }
  .radio__Button:active {
    background-color: #0010ff;
    -webkit-transition: 0s ease-out 0s;
    -moz-transition: 0s ease-out 0s;
    -o-transition: 0s ease-out 0s;
    transition: 0s ease-out 0s; }

.play__Button {
  width: 60px;
  height: 60px;
  margin-right: 18px;
  border-radius: 100%;
  border: solid 2px #0010ff;
  float: left;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 5s ease 0s;
  -moz-transition: 5s ease 0s;
  -o-transition: 5s ease 0s;
  transition: 5s ease 0s; }
  .play__Button img {
    height: 21px;
    width: auto;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 4px; }
  .play__Button:active {
    background-color: #0010ff;
    -webkit-transition: 0s ease-out 0s;
    -moz-transition: 0s ease-out 0s;
    -o-transition: 0s ease-out 0s;
    transition: 0s ease-out 0s; }

.button__block__close {
  position: relative;
  height: 35px;
  width: 35px;
  margin-top: 50px;
  margin-left: 39px;
  margin-right: 50px;
  color: #ffffff;
  float: right;
  opacity: 0.5;
  cursor: pointer; }
  .button__block__close:hover {
    opacity: 1; }
  .button__block__close:before, .button__block__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 27px;
    width: 2px;
    background-color: #fff; }
  .button__block__close:before {
    transform: rotate(45deg); }
  .button__block__close:after {
    transform: rotate(-45deg); }

.image__forclick {
  cursor: pointer; }

.kb1__language__form__header {
  float: right;
  width: 404px;
  height: 121px; }
  .kb1__language__form__header .button__block__ru {
    height: 35px;
    width: 35px;
    margin-top: 50px;
    margin-right: 91px;
    float: right; }
  .kb1__language__form__header .button__block__en {
    height: 35px;
    width: 35px;
    margin-top: 50px;
    margin-right: 58px;
    float: right; }
  .kb1__language__form__header label[for="ru_header"] {
    float: left; }
  .kb1__language__form__header label[for="en_header"] {
    float: right; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

.kb1__language__form label {
  cursor: pointer;
  opacity: 0.5; }
  .kb1__language__form label .line {
    position: relative;
    display: block;
    width: 32px;
    border-top: 3px solid #ffffff;
    opacity: 0; }

.kb1__language__form input[type="radio"]:checked + label {
  opacity: 1; }

.kb1__language__form input[type="radio"]:checked + label .line {
  opacity: 1; }

.kb1__section__main {
  width: 1920px;
  height: 959px;
  background-color: #19191c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 58.5px;
  padding-left: 58px; }

.history__ofSatellites .kb1__section__header {
  background-color: #141417; }

.history__ofSatellites .kb1__section__main__history .sputnik__img {
  position: absolute; }

.history__ofSatellites .kb1__section__main__history .svg__container {
  position: relative;
  left: 179px;
  width: 27px;
  height: 23px;
  float: left;
  background-image: url("../img/arrow.svg");
  background-size: cover; }

.history__ofSatellites .kb1__section__main__history .typo24text {
  width: 344px; }

.history__ofSatellites .kb1__section__main__history .typo16text {
  width: 344px; }

.history__ofSatellites .kb1__section__main__history .typo14blue {
  width: 344px; }

.history__ofSatellites .kb1__section__main__history .typo16photo {
  width: 344px; }

.Legendary__7 .kb1__section__main__legendary7 .typo24text {
  width: 420px; }

.Legendary__7 .kb1__section__main__legendary7 .typo16text {
  width: 245px; }

.Legendary__7 .kb1__section__main__legendary7 .typo14blue {
  width: 240px; }

.Legendary__7 .kb1__section__main__legendary7 .typo16photo {
  width: 240px; }

.Legendary__7 .kb1__section__main__legendary7 img {
  width: 202px;
  height: auto; }

.kb1__section__main__sputnik1 .typo24text {
  width: 344px; }

.kb1__section__main__sputnik1 .typo16text {
  width: 344px; }

.kb1__section__main__sputnik1 .typo16Button {
  width: 344px; }

.kb1__section__main__sputnik2 .typo24text {
  width: 344px; }

.kb1__section__main__sputnik2 .typo16text {
  width: 344px; }

.kb1__section__main__sputnik2 .typo16photo {
  width: 344px; }

.kb1__section__main__sputnik2 img {
  width: 339px;
  height: auto; }
  .kb1__section__main__sputnik2 img .layka {
    width: 369px; }

.kb1__section__main__sputnik3 .typo24text {
  width: 344px; }

.kb1__section__main__sputnik3 .typo16text4 {
  width: 351px; }

.kb1__section__main__sputnik3 .typo16text3 {
  width: 344px; }

.kb1__section__main__sputnik3 .typo26text {
  width: 344px; }

.kb1__section__main__sputnik3 .typo24text {
  width: 344px; }

.kb1__section__main__sputnik3 .typo16text4 {
  width: 351px; }

.kb1__section__main__sputnik3 .typo16text3 {
  width: 344px; }

.kb1__section__main__sputnik3 .typo26text {
  width: 344px; }

.kb1__section__main__USSRvsUSA .typo16text4 {
  width: 296px; }

.kb1__section__main__USSRvsUSA .specialBlock {
  position: relative;
  height: 189px;
  width: 329px;
  margin-top: 35px; }

.ledendary7__popUp .bg__effect__legendary7 {
  left: 500px;
  width: 1080px;
  height: 1080px;
  position: absolute;
  border-radius: 100%;
  opacity: 0.7; }
  .ledendary7__popUp .bg__effect__legendary7 .legendary__7__oval1 {
    top: 234px;
    position: absolute;
    width: 847px;
    height: 847px;
    border-radius: 100%;
    background-image: url("../img/legendary__oval1.png");
    background-size: contain; }
  .ledendary7__popUp .bg__effect__legendary7 .legendary__7__oval2 {
    top: 200px;
    left: 125px;
    position: absolute;
    width: 852px;
    height: 852px;
    border-radius: 100%;
    background-image: url("../img/legendary__oval2.png");
    background-size: contain; }

.ledendary7__popUp .kb1__section__header {
  z-index: 5;
  background-color: #141417; }
  .ledendary7__popUp .kb1__section__header .kb1__language__form__header {
    background-color: #19191c;
    width: 512px; }

.ledendary7__popUp .kb1__section__main {
  padding: 0; }
  .ledendary7__popUp .kb1__section__main .typo20legend {
    width: 100%; }
  .ledendary7__popUp .kb1__section__main .column__big {
    width: 1408px; }
  .ledendary7__popUp .kb1__section__main .column {
    overflow: hidden; }
    .ledendary7__popUp .kb1__section__main .column .vertical__swipe {
      height: 779px;
      width: 100%;
      background-color: #19191c;
      padding-left: 50px;
      overflow: scroll;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-bottom: 30px; }

.sputnik1__popUp2 {
  background-image: url("../img/video__bg.png");
  background-size: cover; }

.popup {
  position: absolute;
  height: 1080px;
  width: 1920px;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: #19191c;
  opacity: 0.9; }
  .popup .popup_bg {
    opacity: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%; }
  .popup .popup_img {
    position: relative;
    margin: 0 auto;
    z-index: 5;
    max-height: 80%;
    max-width: 80%;
    margin: 5% 0 0 0; }

/*# sourceMappingURL=app-project.css.map */