
/*               GEOMETRIA FONT                 */

/* Thin */

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-Thin.otf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-ThinItalic.otf');
	font-weight: 100;
	font-style: italic;
}

/* Extra light */

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-ExtraLight.otf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-ExtraLightItalic.otf');
	font-weight: 200;
	font-style: italic;
}
/* Light */

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-Light.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-LightItalic.otf');
	font-weight: 300;
	font-style: italic;
}

/*  Normal   */

@font-face {
    font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-Italic.otf');
	font-weight: 400;
	font-style: italic;
}
/*  Medium   */

@font-face {
    font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-Medium.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-MediumItalic.otf');
	font-weight: 500;
	font-style: italic;
}

/*  Bold */

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-Bold.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-BoldItalic.otf');
	font-weight: 700;
	font-style: italic;
}

/*  Extra bold   */

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-ExtaBlack.otf');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-ExtraBlackItalic.otf');
	font-weight: 800;
	font-style: italic;
}
/*  Heavy  */

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-Heavy.otf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Geometria;
	src: url('../../blocks/common/fonts/Geometria/Geometria/Geometria-HeavyItalic.otf');
	font-weight: 900;
	font-style: italic;
}

/*       ROBOTO FONT       */
/* Thin */

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
}
/* Extra light */

/* Light */

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}
/*  Normal   */

@font-face {
    font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

/*  Medium   */

@font-face {
    font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

/*  Bold */

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}
/*  Extra bold   */

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-Black.ttf');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url('../../blocks/common/fonts/Roboto/Roboto/Roboto-BlackItalic.ttf');
	font-weight: 800;
	font-style: italic;
}
/*  Heavy  */
