@import "fonts.css"
@import "_variables.css"

html, body
  margin: 0
  padding: 0
  
#app
  position: relative

.swiper-container
  width: 1920px
  height: 1080px


.kb1__section
  position: relative
  width: 1920px
  height: 1080px
  background-color: #19191c

.kb1__section__popup
  z-index: 50
  position: fixed
  top: 1180px
  width: 1920px
  height: 1080px
  background-color: #19191c
  -webkit-transition: 1s ease 0s
  -moz-transition: 1s ease 0s
  -o-transition: 1s ease 0s
  transition: 1s ease 0s
  .kb1__section__header
    border-bottom: 2px solid #0010ff

.kb1__section__first
  width: 1920px
  height: 1080px
  background-color: #000000

.kb1__section__header
  position: relative
  width: 1920px
  height: 121px
  background-color: #19191c
  .kb1__section__header__text
    margin: 0
    padding-left: 58px
    padding-top: 44px
    height: 58px
    float: left
    font-family: Geometria
    font-size: 19px
    line-height: 1.53
    text-align: left
    color: #ffffff
  .kb1__section__header__blocks
    width: 960px
    height: 121px
    float: left

    // Typography block

.padding20
  padding-top: 20.5px

.padding25
  padding-top: 25px

.padding29
  padding-top: 29px

.padding31
  padding-top: 31px

.padding46
  padding-top: 49px

.padding49
  padding-top: 49px

.paddingleft58
  padding-left: 58px

.padding67
  padding-top: 67px

.padding79
  padding-top: 79px

.padding71
  padding-top: 73px

.padding73
  padding-top: 73px

.padding89
  padding-top: 89px

.padding93
  padding-top: 93px

.padding95
  padding-top: 95px

.margin4
  margin-top: 4px

.margin20
  margin-top: 20px

.margin22
  margin-top: 22px

.margin24
  margin-top: 24px

.margin26
  margin-top: 26px

.margin30
  margin-top: 30px

.margin33
  margin-top: 33px

.margin38
  margin-top: 38px

.margin40
  margin-top: 40px

.margin44
  margin-top: 44px

.margin45
  margin-top: 45px

.margin46
  margin-top: 46px

.margin47
  margin-top: 47px

.margin48
  margin-top: 48px

.margin50
  margin-top: 52px

.margin52
  margin-top: 52px

.margin53
  margin-top: 53px

.margin55
  margin-top: 55px

.margin58
  margin-top: 58px

.margin60
  margin-top: 60px

.margin63
  margin-top: 63px

.margin64
  margin-top: 64px

.margin65
  margin-top: 65px

.margin81
  margin-top: 81px

.margin85
  margin-top: 85px

.margin89
  margin-top: 89px

.margin93
  margin-top: 93px

.margin95
  margin-top: 95px

.margin98
  margin-top: 98px

.margin102
  margin-top: 102px

.margin105
  margin-top: 105px

.margin121
  margin-top: 121px

.margin140
  margin-top: 140px

.margin250
  margin-top: 250px

.top25
  padding-top: 25px

.top31
  padding-top: 31px

.top70
  top: 70px

.top78
  top: 78px

.top80
  top: 80px

// .padding73
//   padding-top: 73px

// .padding93
//   padding-top: 93px

.typo14blue
  text-transform: uppercase
  font-family: Geometria
  font-size: 14px
  line-height: 1.71
  text-align: left
  color: #0e48f5
  

.typo14Button
  font-family: Geometria
  font-size: 14px
  line-height: 1.86
  text-align: center
  color: #d8d8d8
  

.typo16text
  font-family: Geometria
  font-size: 16px
  line-height: 1.63
  text-align: left
  color: #d8d8d8
  

.typo16photo
  font-family: Geometria
  font-size: 16px
  line-height: 1.63
  text-align: left
  color: #9b9b9b

.typo16text2
  font-family: Geometria
  font-size: 16px
  font-weight: 500
  line-height: 1.63
  text-align: left
  color: #d2d2d7

.typo16text__grey
  font-family: Roboto
  font-size: 16px
  text-align: left
  color: #666666

.typo16text3
  position: relative
  font-family: Geometria
  font-size: 16px
  line-height: 1.69
  text-align: left
  color: #9b9b9b

.typo16Button
  font-family: Geometria
  font-size: 16px
  line-height: 1.63
  text-align: center
  color: #d8d8d8

.typo16text4
  font-family: Geometria
  font-size: 16px
  line-height: 1.69
  text-align: left
  color: #d8d8d8
  

.typo19text
  font-family: Geometria
  font-size: 19px
  line-height: 1.53
  text-align: left
  color: #ffffff

.typo20legend
  font-family: Roboto
  font-size: 20px
  font-weight: 300
  text-align: left
  color: #9b9b9b

.typo24text
  font-family: Geometria
  font-size: 24px
  font-weight: bold
  line-height: 1.42
  text-align: left
  color: #ffffff
  

.typo26text
  font-family: Geometria
  font-size: 26px
  font-weight: 200
  line-height: 1.54
  text-align: left
  color: #d8d8d8

.typo70text
  position: relative
  font-family: Roboto
  font-size: 70px
  font-weight: 100
  letter-spacing: -2px
  text-align: left
  color: #ffffff
  

.typo110text
  font-family: Roboto
  font-size: 110px
  font-weight: 100
  letter-spacing: -2px
  text-align: left
  color: #ffffff

.typoLang
  font-family: Geometria;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;


.column
  position: relative
  width: 442.5px
  height: 100%
  float: left
  overflow: hidden

.column__big
  position: relative
  width: 890px
  height: 100%
  float: left
  overflow: hidden

.row447
  position: relative
  height: 447px
  width: 100%

.row223
  position: relative
  height: 223px
  width: 100%

.row111
  position: relative
  height: 111.5px
  width: 100%

.row673
  height: 673px
  width: 100%
  position: relative

.floatleft
  float: left

.floatright
  float: right




.kb1__firstpage__Clear
  width: 1920px
  height: 409.5px
  opacity: 0

.kb1__firstPageBlocks
  width: 960px
  height: 258px
  float: left
  .kb1__firstpageText
    margin: 0
    margin-left: 58px
    font-family: Geometria
    font-size: 86px
    font-weight: 300
    text-align: left
    color: white


.line
  position: relative
  display: block
  left: -2px
  width: 30px
  border-top: 2px solid #ffffff
  opacity: 0.4


.kb1__language__form__main
  width: 145px
  height: 28px
  margin-top: 125px
  margin-right: 210px
  float: right
  label
    &[for="ruMain"]
      padding-right: 91px
      width: 27px
      height: 20px
      float: left
    &[for="enMain"]
      width: 27px
      height: 20px
      float: right

.bg__effect
  position: relative
  width: 100%
  border-radius: 100%
  box-shadow: inset 0 0 50px -50px #141417

.Oval-2-Copy
  top: 100px
  position: absolute
  width: 250px
  height: 250px
  border-radius: 100%
  background-image: url("../img/sputnik1__oval1.png")
  background-size: contain

.Oval-2-Copy-2
  top: 134px
  position: absolute
  width: 250px
  height: 250px
  border-radius: 100%
  background-image: url("../img/sputnik1__oval2.png")
  background-size: contain


.header__Button
  width: 121px
  height: 44px
  margin-top: 36px
  border-radius: 50px
  border: solid 2px $blue_button;
  float: left
  cursor: pointer
  -webkit-transition: 5s ease 0s
  -moz-transition: 5s ease 0s
  -o-transition: 5s ease 0s
  transition: 5s ease 0s
  p
    margin: auto
    padding-top: 6px
    width: 89px
    height: 26px
    font-family: Geometria
    font-size: 16px
    font-weight: 500
    line-height: 1.63
    text-align: center
    letter-spacing: 0
    color: #d2d2d7
  &:active
    background-color: $blue_button;
    -webkit-transition: 0s ease-out 0s
    -moz-transition: 0s ease-out 0s
    -o-transition: 0s ease-out 0s
    transition: 0s ease-out 0s


.more__info__button
  position: relative
  cursor: pointer
  border-radius: 42px
  width: 117px
  height: 31px
  border: solid 1px $grey_button;
  -webkit-transition: 5s ease 0s
  -moz-transition: 5s ease 0s
  -o-transition: 5s ease 0s
  transition: 5s ease 0s
  p
    margin: auto
    width: 89px
    height: 26px
    padding-top: 4px
    font-family: Geometria
    font-size: 14px
    line-height: 1.86
    text-align: center
    color: $grey_button;
    -webkit-transition: 5s ease 0s
    -moz-transition: 5s ease 0s
    -o-transition: 5s ease 0s
    transition: 5s ease 0s
  &:active
    color: $color-white
    background-color: $grey_button;
    -webkit-transition: 0s ease-out 0s
    -moz-transition: 0s ease-out 0s
    -o-transition: 0s ease-out 0s
    transition: 0s ease-out 0s
    p
      color: #19191c
      -webkit-transition: 0s ease-out 0s
      -moz-transition: 0s ease-out 0s
      -o-transition: 0s ease-out 0s
      transition: 0s ease-out 0s


.arrow__Button
  width: 60px
  height: 60px
  margin-right: 18px
  border-radius: 100%
  border: solid 2px $blue_button;
  float: left
  cursor: pointer
  text-align: center
  vertical-align: middle
  -webkit-transition: 5s ease 0s
  -moz-transition: 5s ease 0s
  -o-transition: 5s ease 0s
  transition: 5s ease 0s
  img
    padding-top: 19px
    text-align: center
    vertical-align: middle
  &:active
    background-color: $blue_button;
    -webkit-transition: 0s ease-out 0s
    -moz-transition: 0s ease-out 0s
    -o-transition: 0s ease-out 0s
    transition: 0s ease-out 0s

.radio__Button
  width: 60px
  height: 60px
  margin-right: 18px
  border-radius: 100%
  border: solid 2px $blue_button;
  float: left
  cursor: pointer
  text-align: center
  vertical-align: middle
  -webkit-transition: 5s ease 0s
  -moz-transition: 5s ease 0s
  -o-transition: 5s ease 0s
  transition: 5s ease 0s
  img
    padding-top: 17px
    text-align: center
    vertical-align: middle
    position: relative;
    left: 1px;
  &:active
    background-color: $blue_button;
    -webkit-transition: 0s ease-out 0s
    -moz-transition: 0s ease-out 0s
    -o-transition: 0s ease-out 0s
    transition: 0s ease-out 0s

.play__Button
  width: 60px
  height: 60px
  margin-right: 18px
  border-radius: 100%
  border: solid 2px $blue_button;
  float: left
  cursor: pointer
  text-align: center
  vertical-align: middle
  -webkit-transition: 5s ease 0s
  -moz-transition: 5s ease 0s
  -o-transition: 5s ease 0s
  transition: 5s ease 0s
  img
    height: 21px 
    width: auto
    padding-top: 20px
    text-align: center
    vertical-align: middle
    position: relative;
    left: 4px;
  &:active
    background-color: $blue_button;
    -webkit-transition: 0s ease-out 0s
    -moz-transition: 0s ease-out 0s
    -o-transition: 0s ease-out 0s
    transition: 0s ease-out 0s


.button__block__close
  position: relative
  height: 35px
  width: 35px
  margin-top: 50px
  margin-left: 39px
  margin-right: 50px
  color: $color-white
  float: right
  opacity: 0.5
  cursor: pointer
  &:hover
    opacity: 1
  &:before, &:after
    position: absolute
    left: 15px
    content: ' '
    height: 27px
    width: 2px
    background-color: #fff
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)

.image__forclick
  cursor: pointer


.kb1__language__form__header
  float: right
  width: 404px
  height: 121px
  .button__block__ru
    height: 35px
    width: 35px
    margin-top: 50px
    margin-right: 91px
    float: right
  .button__block__en
    height: 35px
    width: 35px
    margin-top: 50px
    margin-right: 58px
    float: right
  label
    &[for="ru_header"]
      float: left
    &[for="en_header"]
      float: right

input
  &[type="checkbox"], &[type="radio"]
    display: none

.kb1__language__form
  label
    cursor: pointer
    opacity: 0.5
    .line
      position: relative
      display: block
      width: 32px
      border-top: 3px solid #ffffff
      opacity: 0
  input[type="radio"]:checked + label
    opacity: 1
  input[type="radio"]:checked + label .line
    opacity: 1

.kb1__section__main
  width: 1920px
  height: 959px
  background-color: #19191c
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding-right: 58.5px
  padding-left: 58px

.history__ofSatellites
  .history__ofSatellites__bg__img
    position: absolute
    left: 25px
    height: 1080px
    width: 1357px
    background-image: url("../img/sputnik1.png")
    background-size: cover
    background-repeat: no-repeat
    z-index: 1
  .kb1__section__header
  .kb1__section__main__history
    padding-left: 0
    .bg__effect
      top: 210px
      left: -75px
    .sputnik__img
      position: absolute
    .svg__container
      position: relative
      left: 179px
      width: 27px
      height: 23px
      float: left
      background-image: url("../img/arrow.svg")
      background-size: cover
    .typo24text, .typo16text, .typo14blue, .typo16photo
      width: $column__text__width__medium
  
.Legendary__7
  .kb1__section__main__legendary7
    .typo24text, .typo14blue, .typo16photo
      width: $column__text__width__big
    .typo16text
      width: 245px
    img 
      width: 202px
      height: auto

.kb1__section__main__sputnik1
  .typo24text, .typo16text, .typo16Button
    width: $column__text__width__medium

.kb1__section__main__sputnik2
  .play__Button
    margin-top: 83.5px
    float: left
    img
      height: 40px
      width: auto
      left: 0.5px;
      top: -10px;
  .typo16text2
    margin-top: 100px
    width: auto
  .typo24text, .typo16text,.typo16photo
    width: $column__text__width__medium
  img
    width: 339px
    height: auto
    .layka
      width: 369px

.kb1__section__main__sputnik3
  .typo24text, .typo26text, .typo16text3
    width: $column__text__width__medium
  .typo16text4
    width: 351px


.kb1__section__main__USSRvsUSA
  .typo16text4
    width: 296px
  .specialBlock
    position: relative
    height: 189px
    width: 329px
    margin-top: 35px

.ledendary7__popUp
  ::-webkit-scrollbar
    width: 3px
    margin-right: 20px
  ::-webkit-scrollbar:horizontal
      display: none
  ::-webkit-scrollbar-track 
      -webkit-box-shadow: inset 0 0 6px #979797
      color: #979797
      border-radius: 10px
      height: 779px
  ::-webkit-scrollbar-thumb 
      border-radius: 10px
      -webkit-box-shadow: inset 0 0 6px #ffffff
      color: #ffffff
  .bg__effect__legendary7
    left: 500px
    width: 1080px
    height: 1080px
    position: absolute
    border-radius: 100%
    opacity: 0.7
    .legendary__7__oval1
      top: 234px
      position: absolute
      width: 847px
      height: 847px
      border-radius: 100%
      background-image: url("../img/legendary__oval1.png")
      background-size: contain
    .legendary__7__oval2
      top: 200px
      left: 125px
      position: absolute
      width: 852px
      height: 852px
      border-radius: 100%
      background-image: url("../img/legendary__oval2.png")
      background-size: contain
  .kb1__section__header
    z-index: 5
    background-color: #141417
    .kb1__language__form__header
      background-color: #19191c
      width: 512px
  .kb1__section__main
    padding: 0
    .typo20legend
      width: 100%
    .column__big
      width: 1408px
    .column
      overflow: hidden
      .vertical__swipe
        height: 779px
        width: 100%
        background-color: #19191c
        padding-left: 50px
        overflow: scroll
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding-bottom: 30px

.popup 
  position: absolute
  height: 1080px
  width: 1920px
  top: 0
  left: 0
  display: none
  text-align: center
  background: #19191c
  opacity: 0.9
  .popup_bg 
    opacity: 0
    position: absolute
    z-index: 1
    height: 100%
    width: 100%
  .popup_img 
    position: relative
    margin: 0 auto
    z-index: 5
    max-height: 80%
    max-width: 80%
    margin: 5% 0 0 0

.sputnik1__popUp3
  z-index: 100
  .button__block__close
    position: absolute
    right: 0
    z-index: 30

.sputnik1__popUp2
  .kb1__section__main
    .typo24text, .typo26text, .typo16text3, .typo16text4
      width: $column__text__width__medium
    .newsM__img
      width: 223px
      height: auto
    .newsH__img
      width: 361px
      height: auto
    .bg__effect
      left: 320px
      top: 50px
      .Oval1
        top: 0
        left: 125px
        position: absolute
        width: 847px
        height: 847px
        border-radius: 100%
        background-image: url("../img/sputnik1__oval1.png")
        background-size: contain
      .Oval2
        top: 34px
        position: absolute
        width: 847px
        height: 847px
        border-radius: 100%
        background-image: url("../img/sputnik1__oval2.png")
        background-size: contain

.sputnik2__popUp2
  .kb1__section__main
    .typo24text, .typo16text4, .typo16text3
      width: $column__text__width__medium
    .typo26text
      width: 360px
    .layka_1, .layka_2, .layka_3
      width: 420px
      height: auto