div(class="swiper-container")
	div(class="swiper-wrapper")
		div(class="kb1__section__first swiper-slide")
			div(class="kb1__firstpage__Clear")
			div(class="kb1__firstPageBlocks")
				p(class="kb1__firstpageText") История<br/>Исскуственных<br/>Спутников Земли
			div(class="kb1__firstPageBlocks")
				form(class="kb1__language__form kb1__language__form__main")
						input( name="Lang" type="radio" id="ruMain" checked)
						label(class="typoLang" for="ruMain") Ru
							span(class="line")
						input(name="Lang" type="radio" id="enMain")
						label(class="typoLang" for="enMain") En
							span(class="line")


				//- History of Artificial Earth Satellites

		div(class="kb1__section history__ofSatellites swiper-slide")
			div(class="history__ofSatellites__bg__img")
			div(class="kb1__section__header")
				div(class="kb1__section__header__blocks")
					p(class="kb1__section__header__text") История Искусственных Спутников Земли
				div(class="kb1__section__header__blocks")
					div(class="header__Button")
						p Галерея
					form(class="kb1__language__form kb1__language__form__header")
						div(class="button__block__en")
							input(name="Lang_header" type="radio" id="en_header")
							label(class="typoLang" for="en_header") En
								span(class="line")
						div(class="button__block__ru")
							input(name="Lang_header" type="radio" id="ru_header" checked)
							label(class="typoLang" for="ru_header") Ru
								span(class="line")
			div(class="kb1__section__main__history kb1__section__main")
				div(class="column paddingleft58")
					div(class="bg__effect")
						div(class="Oval-2-Copy")
						div(class="Oval-2-Copy-2")
				div(class="column")
					div(class="row223")
						div(class="svg__container top70")
						p(class="typo24text padding67") Спутник-1
						p(class="typo16photo padding25") 4 октября 1957
					div(class="row223")
						div(class="svg__container top78")
						p(class="typo24text padding73") Спутник-2
						p(class="typo16photo padding25") 3 ноября 1957
					div(class="row223")
						div(class="svg__container top80")
						p(class="typo24text padding73") Спутник-3
						p(class="typo16photo padding25") 15 мая 1958
					div(class="row223")
						p(class="typo16text padding47") Искусственный Спутник Земли (ИСЗ) — это космический летательный аппарат, выведенный на орбиту Земли и совершивший вокруг нее не менее одного витка. 
				div(class="column")
					div(class="row223")
					div(class="row223")
						p(class="typo24text padding73") Легендарная семёрка
						p(class="typo16photo padding25") 4 октября 1957
					div(class="row223")
						p(class="typo24text padding73") Сравнение спутников
				div(class="column")
					div(class="row223")
						p(class="typo14blue padding93") СССР вывел на орбиту три искусственных спутника
					div(class="row223")
						p(class="typo70text padding31") Октябрь 1957 – май 1958 
					div(class="row223")
						p(class="typo16text padding46") Над спутниками работали: С. П. Королёв, М. В. Келдыш, М. К. Тихонравов, Н. С. Лидоренко, Г. Ю. Максимов, В. И. Лапко, Б. С. Чекунов, А. В. Бухтияров и многие другие.
					div(class="row223")
						p(class="typo16photo padding71") С 1 июля 1957 года по 31 декабря 1958 года ООН объявила Международный геофизический год (МГГ)…


				//-  Legendary seven

		div(class="kb1__section Legendary__7 swiper-slide")
			div(class="kb1__section__header")
				div(class="kb1__section__header__blocks")
					p(class="kb1__section__header__text") История Искусственных Спутников Земли
				div(class="kb1__section__header__blocks")
					div(class="header__Button")
						p Галерея
					form(class="kb1__language__form kb1__language__form__header")
						div(class="button__block__close go__to__first")
						div(class="button__block__en")
							input(name="Lang_header" type="radio" id="en_header2")
							label(class="typoLang" for="en_header2") En
								span(class="line")
						div(class="button__block__ru")
							input(name="Lang_header" type="radio" id="ru_header2" checked)
							label(class="typoLang" for="ru_header2") Ru
								span(class="line")
			div(class="kb1__section__main__legendary7 kb1__section__main")
				div(class="column")
					div(class="row223")
						p(class="typo24text padding89") Легендарная семёрка
					div(class="row223")
						p(class="typo16text padding29") В 1957 году в СССР завершилось создание межконтинентальной баллистической ракеты Р-7, прозванной легендарной «Семеркой».
					div(class="row223")
						p(class="typo16text") После окончания испытаний и двух успешных пусков главный конструктор Сергей Королев получил разрешение правительства запустить с её помощью первый Искусственный Спутник Земли — «Спутник 1».
					div(class="row223")
						div( id="ledendary7__button" class="more__info__button margin98 floatleft")
							p Устройство
				div(class="column__big")

				div(class="column")
					div(class="row447")
						img(class="padding73 image__forclick" src="./img/korolev__big.png")
						p(class="typo16photo padding20") Сергей Королев<br/>Генеральный конструктор
					div(class="row447")
						img(class="padding73 image__forclick" src="./img/rocket__photo__big.png")
						p(class="typo16photo padding20") Баллистическая ракета Р-7
		
			

				//- Sputnik-1

		div(class="kb1__section Sputnik-1 swiper-slide")
			div(class="kb1__section__header")
				div(class="kb1__section__header__blocks")
					p(class="kb1__section__header__text") История Искусственных Спутников Земли
				div(class="kb1__section__header__blocks")
					div(class="header__Button")
						p Галерея
					form(class="kb1__language__form kb1__language__form__header")
						div(class="button__block__close go__to__first")
							input(name="Lang_header" type="radio" id="close_header3")
							label(class="typoLang" for="close_header3")
						div(class="button__block__en")
							input(name="Lang_header" type="radio" id="en_header3")
							label(class="typoLang" for="en_header3") En
								span(class="line")
						div(class="button__block__ru")
							input(name="Lang_header" type="radio" id="ru_header3" checked)
							label(class="typoLang" for="ru_header3") Ru
								span(class="line")
			div(class="kb1__section__main__sputnik1 kb1__section__main")
				div(class="row223")
					div(class="column")
						p(class="typo24text margin22") Спутник-1.<br/>Характеристики
						p(class="typo16text padding20") Корпус из двух полуоболочек со стыкованными шпангоутами, соединенными между собой 36 болтами
					div(class="column")
						p(class="typo110text margin33") 58
						p(class="typo16text") Диаметр шара, см
					div(class="column")
						p(class="typo110text margin33") 83,6
						p(class="typo16text") Масса спутника, кг
					div(class="column")
						div(class="row111")
							div(id="fly__popUp" class="arrow__Button margin38")
								img(src="./img/big_arrow.svg")
							p(class="typo16text2 floatleft margin55") Полет
						div(class="row111") 
							div(id="popUp2__signal__button" class="radio__Button margin22")
								img(src="./img/funk__button.svg")
							p(class="typo16text2 margin40 floatleft") Радиосигнал
				div(class="row447")
				div(class="row223")
					div(class="column")
						p(class="typo16text__grey margin52") .01
						p(class="typo16text padding20") Герметичность стыка обеспечивала резиновая прокладка
					div(class="column")
						p(class="typo16text__grey margin52") .02
						p(class="typo16text padding20") Внутри корпуса два радиопередатчика и источники питания
					div(class="column")
						p(class="typo16text__grey margin52") .03
						p(class="typo16text padding20") В верхней полуоболочке – две антенны, каждая из двух штырей по 2,4 и по 2,9 метра
					div(class="row223")
						div(id="popUp2__video__button" class="play__Button margin85")
							img(src="./img/play__button.svg")
						p(class="typo16text2 floatleft margin105") Космическая эра начинается

		div(class="kb1__section Sputnik-2 swiper-slide")
			div(class="kb1__section__header")
				div(class="kb1__section__header__blocks")
					p(class="kb1__section__header__text") История Искусственных Спутников Земли
				div(class="kb1__section__header__blocks")
					div(class="header__Button")
						p Галерея
					form(class="kb1__language__form kb1__language__form__header")
						div(class="button__block__close go__to__first")
							input(name="Lang_header" type="radio" id="close_header4")
							label(class="typoLang" for="close_header4")
						div(class="button__block__en")
							input(name="Lang_header" type="radio" id="en_header4")
							label(class="typoLang" for="en_header4") En
								span(class="line")
						div(class="button__block__ru")
							input(name="Lang_header" type="radio" id="ru_header4" checked)
							label(class="typoLang" for="ru_header4") Ru
								span(class="line")
			div(class="kb1__section__main__sputnik2 kb1__section__main")
				div(class="column")
					p(class="typo24text margin22") Спутник-2 и его пассажир
					p(class="typo16text margin30") После запуска первого спутника глава советского правительства Никита Сергеевич Хрущев потребовал запустить «Спутник-2» ко дню празднования 40–летия Великой Октябрьской революции и закрепить за СССР статус покорителей космоса. 
					img(class="margin58 image__forclick" src="./img/hrushev.png")
					p(class="typo16photo padding20") Советский партийный и государственный деятель Н. С. Хрущев
					img(class="margin50 image__forclick" src="./img/sputnik2.png")
					p(class="typo16photo padding20") Запуск Спутника-2 с Лайкой на борту
				div(class="column__big")
					div(class="row673")
					div(class="row223")
						div(class="column")
							div(class="more__info__button margin95 floatleft")
								p Устройство
						div(class="column")
							div(id="sputnik2__popUp2__open" class="play__Button")
								img(src="./img/lapka.png")
							p(class="typo16text2") Пассажир Спутника-2
				div(class="column")
					div(class="row447")
						img(class="layka margin44 image__forclick" src="./img/layka.png")
					div(class="row233")
						p(class="typo16text padding20") Работа велась в спешке, и уже 3 ноября 1957 года «Спутник-2» был выведен на орбиту. Задачей второго полёта было выяснить принципиальную возможность существования в космосе живого существа. Для этого в спутник была помещена собака Лайка. 
					div(class="row233")
						p(class="typo70text margin48") 3.11.1957 
						p(class="typo16text3 padding20") Спутник-2 выведен на орбиту

		div(class="kb1__section Sputnik-3 swiper-slide")
			div(class="kb1__section__header")
				div(class="kb1__section__header__blocks")
					p(class="kb1__section__header__text") История Искусственных Спутников Земли
				div(class="kb1__section__header__blocks")
					div(class="header__Button")
						p Галерея
					form(class="kb1__language__form kb1__language__form__header")
						div(class="button__block__close go__to__first")
							input(name="Lang_header" type="radio" id="close_header5")
							label(class="typoLang" for="close_header5")
						div(class="button__block__en")
							input(name="Lang_header" type="radio" id="en_header5")
							label(class="typoLang" for="en_header5") En
								span(class="line")
						div(class="button__block__ru")
							input(name="Lang_header" type="radio" id="ru_header5" checked)
							label(class="typoLang" for="ru_header5") Ru
								span(class="line")
			div(class="kb1__section__main__sputnik3 kb1__section__main")
				div(class="column")
					p(class="typo24text margin89") Спутник-3
					p(class="typo16text4 margin40") Устройство и конструкция «Спутника-3» были сложнее и совершеннее, чем у первых двух. Конструкторы учли целый ряд специфических требований, связанных с проведением научных экспериментов в условиях космического полета, и «Спутник-3» стал настоящей автоматической научной станцией.
					p(class="typo26text margin40") Открытия легли в основу «модели» околоземного космического пространства. 
					p(class="typo16text4 margin40") Его запуск позволил открыть внешние радиационные пояса планеты, лучше понять природу полярных сияний, и узнать, что плотность верхней атмосферы Земли значительно больше, чем это считалось раньше.
				div(class="column__big")
				div(class="column")
					div(class="row223")
						div(class="more__info__button margin95 floatleft")
							p() Устройство
					div(class="row223")
						p(class="typo70text margin53 floatleft") 15.05.1958 
						p(class="typo16text4 margin20 floatleft") Запуск третьего спутника Земли
					div(class="row223")
						p(class="typo70text margin52 floatleft") 2 года
						p(class="typo16text4 margin20 floatleft") Длительность полета 
					div(class="row223")
						div(class="radio__Button margin85 floatleft")
							img(src="./img/funk__button.svg")
						p(class="typo16text2 margin102 floatleft") Радиосигнал
		
		div(class="kb1__section USSRvsUSA swiper-slide")
			div(class="kb1__section__header")
				div(class="kb1__section__header__blocks")
					p(class="kb1__section__header__text") История Искусственных Спутников Земли
				div(class="kb1__section__header__blocks")
					div(class="header__Button")
						p Галерея
					form(class="kb1__language__form kb1__language__form__header")
						div(class="button__block__close go__to__first")
							input(name="Lang_header" type="radio" id="close_header5")
							label(class="typoLang" for="close_header5")
						div(class="button__block__en")
							input(name="Lang_header" type="radio" id="en_header5")
							label(class="typoLang" for="en_header5") En
								span(class="line")
						div(class="button__block__ru")
							input(name="Lang_header" type="radio" id="ru_header5" checked)
							label(class="typoLang" for="ru_header5") Ru
								span(class="line")
			div(class="kb1__section__main__USSRvsUSA kb1__section__main")
				div(class="column")
					p(class="typo24text margin63") СССР VS США.<br/>Вес взят!
					p(class="typo16text4 margin33") Разница в массе первых советских и американских спутников значительна. Тяжесть советских спутников объясняется мощностью ракет, способных вывести на орбиту космические объекты, начиненные сложными системами телеметрии и жизнеобеспечения.<br/><br/>Первые искусственные Спутники Земли «Спутник-1» и Explorer I по своему строению схожи, но американский спутник имел на борту счетчик Гейгера, за счет чего он смог совершить открытие радиационных поясов Земли.<br/><br/>Конструкции советских «Спутника-2» и «Спутника-3» были намного сложнее конструкций Vanguard I и Explorer III и поэтому массивнее.
					div(class="more__info__button margin30 floatleft")
						p Подробнее
				div(class="column")
					p(class="typo16text4 margin64") 4 октября 1957
					p(class="typo14blue margin250") Спутник-1
					p(class="typo70text margin4") 83,60 кг
					p(class="typo16text4 margin64") 31 января 1958
					div(class="specialBlock")
					p(class="typo14blue margin26") Explorer-I
					p(class="typo70text margin4") 13,90 кг
				div(class="column")
					p(class="typo16text4 margin64") 3 ноября 1957
					p(class="typo14blue margin250") Спутник-2
					p(class="typo70text margin4") 508,30 кг
					p(class="typo16text4 margin64") 17 марта 1958
					div(class="specialBlock")
					p(class="typo14blue margin26") Vanguard-I
					p(class="typo70text margin4") 1,50 кг
				div(class="column")
					p(class="typo16text4 margin64") 15 мая 1958
					p(class="typo14blue margin250") Спутник-3
					p(class="typo70text margin4") 1327 кг
					p(class="typo16text4 margin64") 26 марта 1958
					div(class="specialBlock")
					p(class="typo14blue margin26") Explorer-III
					p(class="typo70text margin4") 5 кг
	
	div(class="kb1__section__popup ledendary7__popUp")
		div(class="bg__effect__legendary7")
			div(class="legendary__7__oval1")
			div(class="legendary__7__oval2")
		div(class="kb1__section__header")
			div(class="kb1__section__header__blocks")
				p(class="kb1__section__header__text") История Искусственных Спутников Земли
			div(class="kb1__section__header__blocks")
				div(class="header__Button")
					p Галерея
				form(class="kb1__language__form kb1__language__form__header")
					a(id="close_popUp__legendary" href="#" class="button__block__close")
					div(class="button__block__en")
						input(name="Lang_header" type="radio" id="legendary__en__header__popUp1")
						label(class="typoLang" for="legendary__en__header__popUp1") En
							span(class="line")
					div(class="button__block__ru")
						input(name="Lang_header" type="radio" id="legendary__ru__header__popUp1" checked)
						label(class="typoLang" for="legendary__ru__header__popUp1") Ru
							span(class="line")
		div(class="kb1__section__main kb1__section__main__ledendary7__popUp")
			div(class="column__big")
			div(class="column")
				div(class="vertical__swipe margin60")
					p(class="typo20legend") 01
					p(class="typo16text4 margin20") Головная часть
					p(class="typo20legend margin60") 02
					p(class="typo16text4 margin20") Приборный отсек
					p(class="typo20legend margin60") 03
					p(class="typo16text4 margin20") Центральный блок ракеты
					p(class="typo20legend margin60") 04
					p(class="typo16text4 margin20") Бак окислителя центрального блока
					p(class="typo20legend margin60") 05
					p(class="typo16text4 margin20") Силовой пояс ракеты
					p(class="typo20legend margin60") 06
					p(class="typo16text4 margin20") Шаровая пята центрального блока
					p(class="typo20legend margin60") 07
					p(class="typo16text4 margin20") Опорный 
					p(class="typo20legend margin60") 08
					p(class="typo16text4 margin20") Опорный конус 
					p(class="typo20legend margin60") 09
					p(class="typo16text4 margin20") Опорный конус бокового 
					p(class="typo20legend margin60") 10
					p(class="typo16text4 margin20") Опорный конус бокового блока
					p(class="typo20legend margin60") 11
					p(class="typo16text4 margin20") Опорный 
					p(class="typo20legend margin60") 12
					p(class="typo16text4 margin20") Опорный конус 
					p(class="typo20legend margin60") 13
					p(class="typo16text4 margin20") Опорный конус бокового 
					p(class="typo20legend margin60") 14
					p(class="typo16text4 margin20") Опорный конус бокового блока
					p(class="typo20legend margin60") 15
					p(class="typo16text4 margin20") Опорный 
					p(class="typo20legend margin60") 16
					p(class="typo16text4 margin20") Опорный конус 
					p(class="typo20legend margin60") 17
					p(class="typo16text4 margin20") Опорный конус бокового 

	div(class="kb1__section__popup sputnik1__popUp1")
		div(class="kb1__section__header")
			div(class="kb1__section__header__blocks")
				p(class="kb1__section__header__text") История Искусственных Спутников Земли
			div(class="kb1__section__header__blocks")
				div(class="header__Button")
					p Галерея
				form(class="kb1__language__form kb1__language__form__header")
					div(id="close_popUp1__sputnik1" class="button__block__close")
					div(class="button__block__en")
						input(name="Lang_header" type="radio" id="sputnik1__en__header__popUp1")
						label(class="typoLang" for="sputnik1__en__header__popUp1") En
							span(class="line")
					div(class="button__block__ru")
						input(name="Lang_header" type="radio" id="sputnik1__ru__header__popUp1" checked)
						label(class="typoLang" for="sputnik1__ru__header__popUp1") Ru
							span(class="line")
		div(class="kb1__section__main")
			div(class="column")
			div(class="column__big")
	
	div(class="kb1__section__popup sputnik1__popUp2")
		div(class="kb1__section__header")
			div(class="kb1__section__header__blocks")
				p(class="kb1__section__header__text") История Искусственных Спутников Земли
			div(class="kb1__section__header__blocks")
				div(class="header__Button")
					p Галерея
				form(class="kb1__language__form kb1__language__form__header")
					div(id="close_popUp2__sputnik1" class="button__block__close")
					div(class="button__block__en")
						input(name="Lang_header" type="radio" id="sputnik1__en__header__popUp2")
						label(class="typoLang" for="sputnik1__en__header__popUp2") En
							span(class="line")
					div(class="button__block__ru")
						input(name="Lang_header" type="radio" id="sputnik1__ru__header__popUp2" checked)
						label(class="typoLang" for="sputnik1__ru__header__popUp2") Ru
							span(class="line")
		div(class="kb1__section__main")
			div(class="bg__effect")
						div(class="Oval1")
						div(class="Oval2")
			div(class="column")
				div(class="row447")
					p(class="typo24text margin81 floatleft") За СССР закрепился статус<br/>покорителей космоса
					p(class="typo16text4 margin30 floatleft") Запуск на орбиту «Спутника-1» стал не только научным прорывом, но и громким политическим высказыванием. <br/><br/> Вслед за Советским Союзом свои спутники запустили США, Франция, Великобритания и другие страны. 
				div(class="row223")
					p(class="typo24text margin33 floatleft") 4 октября 1957 –<br/>4 января 1958
					p(class="typo16text4 margin30 floatleft") Полет первого Искусственного Спутника<br/>Земли продлился три месяца
				div(id="popUp2__signal__button2" class="radio__Button margin121")
					img(src="./img/funk__button.svg")
				p(class="typo16text2 margin140 floatleft") Радиосигнал
			div(class="column__big")
				
			div(class="column")
				div(class="row447")
					img(class="newsM__img margin45" src="./img/vechernajaMoskva-min.png")
					p(class="typo16text3 margin20") Статья в газете «Вечерняя Москва»
				div(class="row447")
					img(class="newsH__img margin89" src="./img/heraldTribune-min.png")
					p(class="typo16text3 margin20") Статья в газете Herald Tribune
		


	div(class="kb1__section__popup sputnik1__popUp3")
		div(id="close_popUp3__sputnik1" class="button__block__close")
		video(class="popUp2__fly__video" loop="loop" height="1080" width="1920" autoplay="autoplay")
			<source src="./img/Kosmos_Gri_03_Spiral.mp4" type="video/mp4">
	


	div(class="kb1__section__popup sputnik2__popUp2")
		div(class="kb1__section__header")
			div(class="kb1__section__header__blocks")
				p(class="kb1__section__header__text") История Искусственных Спутников Земли
			div(class="kb1__section__header__blocks")
				div(class="header__Button")
					p Галерея
				form(class="kb1__language__form kb1__language__form__header")
					div(id="close_popUp2__sputnik2" class="button__block__close")
					div(class="button__block__en")
						input(name="Lang_header" type="radio" id="sputnik2__en__header__popUp2")
						label(class="typoLang" for="sputnik2__en__header__popUp2") En
							span(class="line")
					div(class="button__block__ru")
						input(name="Lang_header" type="radio" id="sputnik2__ru__header__popUp2" checked)
						label(class="typoLang" for="sputnik2__ru__header__popUp2") Ru
							span(class="line")
		div(class="kb1__section__main")
			div(class="column")
				img(class="layka_1 margin95" src="./img/layka_1-min.png")
				p(class="typo24text margin53") Пассажир Спутника-2
				p(class="typo16text4 margin30") Лайка - обычная дворняжка из вивария Института авиационной и космической медицины стала первым живым существом, побывавшим в космосе.
				img(class="layka_2 margin65" src="./img/layka_2-min.png")
			div(class="column")
				p(class="typo110text margin93") 1958
				p(class="typo26text margin24") Перед зданием Парижского общества защиты собак была поставлена гранитная колонна в честь всех животных, погибших во время научных опытов. На ее вершине устремленный ввысь спутник с Лайкой на борту. 
			div(class="column")
				p(class="typo24text margin93") Лайка открыла человеку дорогу к звездам.
				p(class="typo16text4 margin46") Информация о состоянии Лайки передавалась на Землю каждые 103 минуты. Несмотря на то, что «Спутник-2» невозможно было вернуть на землю, запасов еды и воды для животного было предусмотрено на 7 дней, но уже через несколько часов после запуска Лайка погибла от перегрева. 
				p(class="typo110text margin50") 7 дней
				p(class="typo16text3") Запасы еды и воды на борту
				p(class="typo16text4 margin47") Конструкция спутника была недоработана из-за сжатых сроков подготовки к полету. Тем не менее, недолгий полет Лайки доказал, что живое существо может выжить в космосе, в чем многие сомневались. Фактически, именно Лайка открыла человеку дорогу в космос.
			div(class="column")
				img(class="layka_3 margin95" src="./img/layka_3-min.png")