*,
*:before,
*:after
    margin: 0
    padding: 0

html
    height: 100%
    min-height: 100%
    position: relative
    margin: 0
    padding: 0

body
    margin: 0
    padding: 0
    position: relative
    width: 100%



